/* Estilos para el contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Degradado azul oscuro */
}


/* Estilos para los elementos de texto dentro del formulario */
.container .form .text {
    font-size: 18px;
    color: #fffdfd;
    /* Color de texto oscuro */
    margin-bottom: 12px;
    font-weight: 600;
}

/* Estilos para los selectores dentro del formulario */
.container .form .select {
    width: 100%;
    margin-bottom: 20px;
}

/* Estilos para el DatePicker */
.container .form .react-datepicker-wrapper {
    width: 100%;
}