.turno-card {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los campos de entrada */
}

.button {
    margin-top: 10px; /* Espacio entre los campos y el botón */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.dni-input, .contra-input, .usuario-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px; /* Reduce el margen inferior para reducir espacio entre los campos */
}

.turnos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    width: 35vw;   /* Ocupa el 35% del ancho de la ventana */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
  }
