/* Fondo general del body */
body {
  background-color: #1a1f36;
  /* Azul oscuro elegante */
  color: #ffffff;
  /* Texto blanco para mejor contraste */
  font-family: 'Poppins', sans-serif;
  /* Fuente moderna */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


/* Formulario estilizado */
.form {
  background-color: #2a2e45;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 0;
  text-align: center;
  margin-top: 30px;
  font-size: 1rem;
  /* Aumenta el espacio entre los elementos */
}

/* Aplicación general */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}


/* Secciones principales */
.home,
.ingreso {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

/* Botones */
button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #5368e0;
  /* Azul claro y brillante */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background-color: #4054b2;
  /* Azul más oscuro al pasar el mouse */
  transform: translateY(-2px);
  /* Eleva el botón al hacer hover */
}

p {
  font-size: 1.2rem;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

input {
  border: 2px solid #5368e0;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  outline: none;
  /* Centra el texto */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: black;
}

form input[type="text"],
form input[type="date"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  border: 2px solid #5368e0;
}